body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.App {
	text-align: center;
}
.wrapper {
	padding: 0% 15%;
}
*:focus {
	outline: 0;
}


.header {
	height: auto;
	background: #00B2F3;
	
	img {
		max-width: 30%;
		margin: 10px 0px;
	}

	.links {
		padding-bottom: 10px;

		a {
			color: rgba(255, 255, 255, 0.8);
			font-size: 16px;
			padding: 10px 10px;
			text-decoration: none;
			font-weight: lighter;
			&:hover{
				text-decoration: underline;
			}
		}   
	}

}



.term {
	text-align: left;
	padding: 10px 0px;

	select {
	  color: #00B2F3;
	  background: #fff;
	  margin: 10px 0px;
	  border: 0px;
	  font-size: large;
	}

}

hr {
	background-color: #00B2F3;
	border: none;
	height: 1px;
	margin-top: 3px;
}


.top {

	text-align: left;
	display: block;

	.subjects, .courses {
		float: left;
		width: 47.5%;
	}
	.subjects {
		padding-right: 5%;
	}

	.icon {
	  width: 15px;
	  height: 15px;
	  margin-right: 7px;
	}

	.search {
		color: #00B2F3;
	  border: 1px solid #00B2F3;
	  border-radius: 10px;
	  width: 97.5%;
	  height: 25px;
	  margin-bottom: 10px;
	  padding-left: 10px;
	}

	::-webkit-input-placeholder {
	  color: #00B2F3;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: #00B2F3;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: #00B2F3;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: #00B2F3;
	}

	.head {
	  color: #265C82;
	  font-weight: lighter;
	}
	.body > select > option {
	  padding: 3px 5px;
	  cursor: default;
	}
	.body > select > option:checked {
	  box-shadow: 0 0 10px 100px #00B2F3 inset;
	}
	.body > select {
	  width: 100%;
	  color: #00B2F3;
	  border: 1px solid #00B2F3;
	  border-radius: 5px;
	}

}



.bottom {
	text-align: left;
	float: left;
	width: 100%;
	margin-bottom: 30px;

	.title {
		margin-top: 1em;
		font-size: x-large;
	}
	.prereqs {
		font-size: small;
	}
	.title, .prereqs {
		font-weight: lighter;
		color: #265C82;
	}


	.overview {
		margin-top: 1em;
		border: 1px solid #00B2F3;
	  border-radius: 5px;
	}

	.body {
		height: 200px;
	}
	.foot {
		height: 300px;
		position: relative;
	}

	.labels {
		float: left;
		width: 100%;
	  padding: 20px 0px 15px 0px;
	}
	.labels > div, .data > div   {
		float: left;
		text-decoration: none;
		width: 20%;
		text-align: center;
		color: #265C82;
	}
	.labels > div {
		font-weight: 600;
		font-size: small;
	}
	.data > div {
		font-weight: lighter;
		font-size: smaller;
		padding: 0px 0px 10px 0px;
	}


	.graph, svg {
		margin-bottom: 10px;
		/*padding: 10px 10px;*/
		/*margin: 10px 10px;*/
	}
	.bar {
	  fill: #00B2F3;
	  /*width: px;*/
	}
	.bar:hover {
	  fill: #265C82;
	}
	.axis {
	  font: 10px sans-serif;
	}
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}



	#sections {
		border: 1px solid #00B2F3;
	  border-radius: 5px;
	  width: 200px;
	  height: 75px;
	  padding: 10px 10px;
	  color: #00B2F3;
	  float: left;

	  /*left: calc(85% - 200px);
	  top: 20%;
	  position: absolute;*/
	}

	button {
		cursor: pointer;
	  background-color: white;
	  border: 1px solid #00B2F3;
	  border-radius: 10px;
	  color: #33A2FF;
	  font-size: 14px;
	  width: 100px;
	  height: 40px;

	  /*top: 60%;
	  position: absolute;*/
	}
	button:hover {
	  background-color: #f5f7f9;
	}
	#btn_scan {
		/*left: calc(85% - 200px);*/
	}
	#btn_clear {
		/*left: calc(85% - 100px + 20px);*/
	}


	.leftFoot {
		width: 60%;
		float: left;
	}
	.rightFoot {
		width: 40%;
		height: 100%;
		float: left;

		margin-top: 5em;

		/*top: 20%;
		left: 60%;
		position: absolute;*/
	}


}







/* LOADING */
.loader {
	border: 10px solid black; /* Light grey */
	border-top: 10px solid #33A2FF; /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;

	/* TO CENTER IT */
	margin-top: -50px;  /* half image height */
	margin-left: -50px;  /* half image width */
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	z-index: 999;

	animation: spin 1.5s linear infinite;
}


@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}